1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "AnD Company"
      VALUE "FileDescription", "Choose-your-own-path, D&D-style text adventure"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "lost_magic_reckoning"
      VALUE "LegalCopyright", "AnD Company"
      VALUE "OriginalFilename", "lost_magic_reckoning.exe"
      VALUE "ProductName", "Lost Magic: Reckoning"
      VALUE "ProductVersion", "0.1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END